.ListeDossiers {
  display: flex;
  list-style: none;
  padding: 10px 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.msgListeVide{
  background-color: black;
  color: white;
  padding: 20px;
  margin:100px 200px;
  font-size: 2em;
  text-align: center;
}